*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

.header{
    /*display: flex;*/
    background-color: #fff;
    z-index: 10;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}


.nav-links a {
    color: #666;
}

.logo {
    font-size: 24px;
    color: #666;
    font-weight: 300;
    cursor: pointer;
    padding: 9px;
    white-space: nowrap;
    
}

.fa-menu1{
    display: flex;
}

.menu {
    display: flex;
    font-size: 13px;
    gap: 30px;
}
 
.menu li {
    
}

.menu a {
    display: block;
}

.menu a:hover {
    transition: 0.3s all ease;
    color: #5234f9;  
}

.menu > li > a{
    text-decoration: none;
    /* line-height: 46px; */
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #4c4c4c;
    padding: 15px 24px;
}
.fa-solid{
        display: none;
    }

.fa-angle-down{
    display: inline;
    padding: 18px 10px;
}
.fa-magnifying-glass{
    display: block;
    padding: 17px 15px;
}
.fa-magnifying-glass:hover{
    color: #5234f9;
}
.search{
    
}
.search-box{
    position: absolute;
    display: none;
    background-color: azure;
    padding: 8px;
    top: 49px;
    right: 88px;
    border-radius: 8px;
    box-shadow: 8px 7px 7px rgb(0 0 0 / 20%);
}
@media (max-width: 768px){
    .menu{
        flex-direction: column;
        /*position:fixed;
        *display: none;*
        flex-direction: column;
        text-align: center;
        z-index: 10;
        top:45px;
        right: -200px;
        box-shadow: 0px 0px 7px 0px;
        transition: right 0.3s;
        background-color: #fff;
    */}
    .fa-menu1{
        position:fixed;
        flex-direction: column;
        text-align: center;
        z-index: 10;
        top:45px;
        right: -200px;
        box-shadow: 0px 0px 7px 0px;
        transition: right 0.3s;
        background-color: #fff;
    }
    .nav-links:hover .fa-menu1{
        display: flex;
        right: 12px;
    }
    .nav-links{
        display: flex;
        justify-content: flex-end;
        position:relative;
    }
    .menu .submenu2,
    .menu .submenu{
        right: 146px;
        top: 0px;
    }
.menu li:hover .submenu2{
    display:block;
    top:314px;
}
.menu li:hover .submenu {
    display: block;
    top:236px;
}
    .fa-solid{
        display: block;
        
        cursor: pointer;
    }
    .fa-bars{
        padding: 17px;
    }
    .fa-angle-down{
        display: none;
    }
    .fa-magnifying-glass{
        
    }
    .search-box{
        top: 441px;
    right: 142px;
    }
}
.menu .submenu{
    display: none;
    min-width: 234px;
    position: absolute;
    box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
    padding: 0px;
    list-style: none;
    top: 49px
}
.submenu li a {
    padding: 6px 19px;
    flex: 1 1;
    text-decoration: none;
    /* line-height: 46px; */
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #4c4c4c;
}
.menu .submenu li:hover a{
    color: #5234f9;
    background-color: aliceblue;
}

.submenu2 .submenu3 li:hover ,
.nav2 .submenu2 li:hover {
    
    background-color: aliceblue;
}
.nav2 .submenu2 li:hover > a,
.submenu2 .submenu3 li:hover > a
{
    color: #5234f9;
    
    
}
.submenu2 li:hover .submenu3,
.menu li:hover .submenu2,
.menu li:hover .submenu {
    display: block;
}
.menu .submenu3 {
    display: none;
    min-width: 127px;
    padding-right: 20px;
    position: absolute;
    box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
    right: 124px;
    top: 0; 
    
}

.menu .submenu2{
    display: none;
    min-width: 127px;
    padding: 0px;
    position: absolute;
    box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
    /*margin-top: 15px;*/
    list-style: none;
    background-color:azure;
    top: 49px;
}
.submenu,
.submenu2 li  {
   
   background: azure;
}
.submenu2 li a {
    flex: 1;
    color: #4c4c4c;
    text-decoration: none;
    display: flex;
    padding: 6px 19px;
    font-size: 14px;
    font-weight: 500;

}



.search:hover .search-box{
    display: flex;
}
.ipt{
    border-radius: 8px;
    border: 5px;
}
.btn-search{
    margin-left: 10px;
    border: 5px;
    padding: 9px 10px;
    color: beige;
    background-color: blueviolet;
    border-radius: 8px;
}

