*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

.header{
    /*display: flex;*/
    background-color: #fff;
    z-index: 10;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.nav-links a {
    color: #666;
}

.logo {
    font-size: 24px;
    color: #666;
    font-weight: 300;
    cursor: pointer;
    padding: 9px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.menu {
    display: flex;
    font-size: 13px;
    gap: 30px;
}
 
.menu li {
    position: relative;
}

.menu a {
    display: block;
}

.menu a:hover {
    transition: 0.3s all ease;
    color: #5234f9;  
}

.menu > li > a{
    text-decoration: none;
    /* line-height: 46px; */
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #4c4c4c;
    padding: 15px 24px;
}
#checkbox_toggle{
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.hamburger-line{
    background-color: #000;
    display: block;
    height: 3px;
    position: relative;
    width: 28px;
}

.hamburger-line::before,
.hamburger-line::after{
    background-color: #000;
    content: "";
    display: block;
    position: absolute;
    transform: 0.3s all ease;
    width: 100%;
    height: 100%;
}
.hamburger-line::before{
    top:7px;
}
.hamburger-line::after{
    top:-7px;
}
@media (max-width: 768px){
    .menu{
        display: none;
        flex-direction: column;
        text-align: center;
        z-index: 10;
    }
    /*.menu{
        display: block;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        border-top: 3px solid #fff;
        text-align: center;
        right: 0px;
        left: 0px;
        margin-top: 20px;
        
    }
    
*/
    .hamburger{
        display: block;
        margin-right: 20px;
    }
}
.menu .submenu{
    display: none;
    min-width: 234px;
    position: absolute;
    box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
    padding: 0px;
    list-style: none;

}
.submenu li a {
    padding: 6px 19px;
    flex: 1 1;
    text-decoration: none;
    /* line-height: 46px; */
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #4c4c4c;
}
.menu .submenu li:hover a{
    color: #5234f9;
    background-color: aliceblue;
}

.submenu2 .submenu3 li:hover ,
.nav2 .submenu2 li:hover {
    
    background-color: aliceblue;
}
.nav2 .submenu2 li:hover > a,
.submenu2 .submenu3 li:hover > a
{
    color: #5234f9;
    
    
}
.submenu2 li:hover .submenu3,
.menu li:hover .submenu2,
.menu li:hover .submenu {
    display: block;
}
.menu .submenu3 {
    display: none;
    min-width: 127px;
    padding-left: 20px;
    position: absolute;
    box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
    left: 124px;
    top: 0; 
    
}

.menu .submenu2{
    display: none;
    min-width: 127px;
    padding: 0px;
    position: absolute;
    box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
    /*margin-top: 15px;*/
    list-style: none;
    background-color:azure;
}
.submenu,
.submenu2 li  {
   
   background: azure;
}
.submenu2 li a {
    flex: 1;
    color: #4c4c4c;
    text-decoration: none;
    display: flex;
    padding: 6px 19px;
    font-size: 14px;
    font-weight: 500;

}
